<!-- 상점 입장에서의 QR 코드 -->
<!-- qr 코드 띄어주는 페이지 -->
<!-- QR 코드를 찍으면 고유의 QR 코드가 나옴 -->


<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>StickyMobile</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="styles/framework.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
        
<div id="page">
        
    <div id="page-preloader">
        <div class="loader-main"><div class="preload-spinner border-highlight"></div></div>
    </div>
    
	<div class="header header-fixed header-logo-left">
        <a href="index.html" class="header-title">Change-Up (Store)</a>
		<a href="page-contact.html" class="header-icon header-icon-1"><i class="fas fa-envelope"></i></a>
		<a href="#" data-toggle-theme-switch class="header-icon header-icon-2"><i class="fas fa-moon"></i></a>
	</div>
    
    <div id="footer-menu" class="footer-menu-2-icons footer-menu-style-1">
            <a href="/qr" class="active-nav"><i class="fa fa-qrcode"></i><span>QR Code</span></a>
            <a href="/storepoint"><i class="fa fa-store"></i><span>Store Point</span></a>
            <div class="clear"></div>
        </div>
    
    <div class="page-content header-clear-medium">   
            
                
        <div class="content-boxed">
            <div class="content">

                    <h1 class="bolder">QRCode</h1>
                <p>
                You can scan.......
                  <a href="#" class="color-red1-dark"> QR code</a>! <br>  
                </p>

                    <script src="scripts/instascan.min.js"></script>
                    <video id="preview" style="width: 100%; height:100%; margin-top: 5px;"  ></video>
                    <script type="text/javascript">
                        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
                        scanner.addListener('scan', function (content) {
                            console.log(content);
                            $.ajax({
                            url: 'http://localhost:3000/withdrawQR',
                            type: 'POST',
                            headers: {
                                'x-access-token': sessionStorage.getItem('jwtToken')
                            },
                            data: {
                                qrFin : content,
                                point : 5// 차감 할 포인트 입력
                            },
                            success: function (data) {
                                alert('결제가 완료되었습니다.');
              
                            }
                        })
                        });

                        Instascan.Camera.getCameras().then(function (cameras) {
                            if (cameras.length > 0) {
                                scanner.start(cameras[0]);
                            } else {
                                console.error('No cameras found.');
                            }
                        }).catch(function (e) {
                            console.error(e);
                        });
                    </script>                    
               
            </div>
        </div>
        

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>

