<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>StickyMobile</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="styles/framework.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    

<script type="text/javascript" src="scripts/jquery.js"></script>

</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
        
<div id="page">
        
    <div id="page-preloader">
        <div class="loader-main"><div class="preload-spinner border-highlight"></div></div>
    </div>
    
   <div class="header header-fixed header-logo-left">
        <a href="index.html" class="header-title">Change-Up</a>
      <a href="page-contact.html" class="header-icon header-icon-1"><i class="fas fa-envelope"></i></a>
      <a href="#" data-toggle-theme-switch class="header-icon header-icon-2"><i class="fas fa-moon"></i></a>
   </div>
    
   <div id="footer-menu" class="footer-menu-5-icons footer-menu-style-1">
        <a href="/mypage"><i class="fa fa-home"></i><span>My Page</span></a>
        <a href="/searchGPS"><i class="fa fa-map"></i><span>GPS</span></a>
        <a href="/searchName" class="active-nav"><i class="fa fa-search"></i><span>Search</span></a>
        <a href="/qrcode"><i class="fa fa-money-bill"></i><span>Payment</span></a>
        <a href="/deposit"><i class="fa fa-piggy-bank"></i><span>Return</span></a>
        <div class="clear"></div>
</div>
    
    <div class="page-content header-clear-medium">   
   <!-- /////////////////////////////////////////////////////////////////////////////////////// -->         
                
        <div class="content-boxed">
            <div class="content">
                    <h1 class="bolder">Name Search</h1>
                    <p>
                      You can find store <a href="#" class="color-red1-dark"> by name! </a></p>
                <p>
                   <!-- <p>
                        <span>찾고자 하는 상점</span>
                        <span><input type="text" id="searchStore" style="background-color:yellow" value="LG" > </span>
                        <span> <button type="button" id="storeNameFind">검색</button> </span>
                    </p> -->
                    
                    <div class="form-field form-name">
                      <label class="contactNameField color-theme" for="contactNameField">Enter Store Name<span>(required)</span></label>
                      <input type="text" name="contactNameField" value="" class="contactField round-small requiredField" id="searchStore" />
                    </div>

                    <br>
                    <div class="form-button">
                        <input type="submit" id="storeNameFind" class="button bg-highlight button-m button-full round-small bottom-0 shadow-huge contactSubmitButton" value="Search" data-formId="contactForm" />
                    </div>

                    <p style="text-align: center">
        
                        <span>

                            <div id="map" style="widows: 300px; height:300px; overflow:visible;"></div> 



                            <div id="transactionTable" >



                            </div>
                            <!-- <input type="text" name="searchStore2",placeholder="상점이름" style="margin-top:10px; margin-left:40px" >
                            <input type="submit" id="sotorePositionFind" value="위치이동" style="margin-top:10px; margin-left:40px"> -->
                        </span>
                           
                      </p>
                   <script>
                        $("#storeNameFind").click(function(){
                            console.log("찾으려는 상점");
                            //,$("#searchStore").val());
                            $.ajax({
                                url:'http://localhost:3000/getStoreName',
                                type:'POST',
                                data: {
                                    name: $("#searchStore").val()
                                },
                                success:function(data){
                                    //alert(data);
                                    var resultList = data;
                                    console.log(resultList);
                                    $("#transactionTable tr").remove();
                                    for (let i = 0; i < resultList.length; i++) {
                                        console.log("for loop ==" + i);
                                        const element = resultList[i];
                                        $("#transactionTable").append(

                                            '<div class="content-boxed"><div class="content">' +
                            
                                            '<div class="vcard-title color-highlight bold">&nbsp;&nbsp;' + element.name + '</div>' +
                                            '<div class="vcard-field"><strong>&nbsp;&nbsp;&nbsp;Tel </strong><br>&nbsp;&nbsp;&nbsp;' + element.telno + '</div>' +
                                           '<div class="vcard-field"><strong>&nbsp;&nbsp;&nbsp;Country </strong><br>&nbsp;&nbsp;&nbsp;' + element.country + '</div>' +
                                            '<div class="vcard-field"><strong>&nbsp;&nbsp;&nbsp;Address </strong><br>&nbsp;&nbsp;&nbsp;' + element.address + '</div></div> </div>'
    
                                        )
                                    }
                                    var position=0;
                                    makeMap(position, data);
                                }
                            })

                        });

                     var localserivce=0;
                     function makeMap(position,data){
                       if(localserivce){ 
                           var map = new google.maps.Map(document.getElementById('map'), {
                           zoom: 15,
                           center: {lat: position.coords.latitude, lng: position.coords.longitude}
                           });
                       }
                       else {
                           var mapObj =document.getElementById('map');
                           console.log(mapObj);
                           var map = new google.maps.Map(mapObj, {
                           zoom: 15,
                           center: {lat: 37.494991, lng: 127.122390}
                           }); 
                           setMarkers(data, map);
                 
                       }
                       
                    }
                   function ShowStoreList(data){
                       var resultList = data;
                       console.log(resultList);
                       for (let i = 0; i < resultList.length; i++) {
                           console.log("for loop ==" + i);
                           const element = resultList[i];
                           $("#transactionTable").append(
                               '<tr>' +
                               '<td>'+element.No+'</td>' +
                               '<td>'+element.store_id+'</td>' +
                               '<td>'+element.name+'</td>' +
                               '<td>'+element.store_sort+'</td>' +
                               '<td>'+element.telno+'</td>' +
                               '<td>'+element.country+'</td>' +
                               '<td>'+element.address+'</td>' +
                               '<td>'+element.latitude+'</td>' +
                               '<td>'+element.longtitude+'</td>' +
                               '</tr>'
                           )
                       }
                   }
                   function initMap() {
                     //---
                     $.ajax({
                             url:'http://localhost:3000/getStoreGpsData', //url:'http://192.168.20.141:3000/getStoreGpsData',
                             type : 'POST',
                             data : {
                           },
                           success:function(data){
                             var position=0;
                               console.log("initMap success ===============");
                               ShowStoreList(data);
                               makeMap(position, data);  ///핀테크 지원센터 테스트용 강제지정
                               
                           }
                       })
                    }
                     var options = {
                       enableHighAccuracy: true,
                       timeout: 5000,
                       maximumAge: 0
                     };
                 
                     function success(pos) {
                       var crd = pos.coords;
                       // console.log('Your current position is:');
                       // console.log('Latitude : ' + crd.latitude);
                       // console.log('Longitude: ' + crd.longitude);
                       // console.log('More or less ' + crd.accuracy + ' meters.');
                         makeMap(pos);
                     };
                 
                     function error(err) {
                       console.log('ERROR(' + err.code + '): ' + err.message);
                     };
                   
                     function setMarkers(data, getMap) {
                       var image = {
                         url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                         size: new google.maps.Size(20, 32),
                         origin: new google.maps.Point(0, 0),
                         anchor: new google.maps.Point(0, 32)
                       };
                       var shape = {
                         coords: [1, 1, 1, 20, 18, 20, 18, 1],
                         type: 'poly'
                       };
                       console.log("setMarkers start ------------");
                       let resultList = data;
                       for (let i = 0; i < resultList.length; i++) {
                          console.log("lat" + parseFloat(resultList[i].latitude) + "lng"+  resultList[i].longtitude + " name " + resultList[i].name  );
                          let makerData = resultList[i]; 
                          var marker = new google.maps.Marker({
                             position: {lat: Number(makerData.latitude), lng: Number(makerData.longtitude)},
                             map: getMap,
                             icon: image,
                             shape: shape,
                             title: makerData.name
                           });
                           
                           google.maps.event.addListener(marker,'click',function(){
                               var infowindow = new google.maps.InfoWindow({
                                 content: getOpenWindowData(resultList[i])
                               });
                               console.log(this.title);
                               infowindow.open(map, marker)
                           });
                         }
                         console.log("setMarkers end ------------"  );
                       // var markerCluster = new MarkerClusterer(map, marker, 
                       //   {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                     }
                 
                 
                     function getOpenWindowData(storeObject){
                         var contentString = '<div id="content">'+
                         '<div id="siteNotice">'+
                         '</div>'+
                         '<h1 id="firstHeading" class="firstHeading">+' + storeObject.name +'</h1>'+
                         '<div id="bodyContent">'+
                         '<p><b>해외 동전 적립 서비스 가능</b><br>' +
                         '주소 : '+ storeObject.address + '<br>' +
                         '전화 번호:' + storeObject.telno + '<br>' +
                         '영업시간: 08:00 ~ 20:00 <br></p>'+
                         '<p>주요 상품 <br> ' +
                         '화장품, 향수, 면도기,세안용품,치약 <br>'  +  '<a href="http://www.11st.co.kr/html/bestSellerMain3.html?prdNo=968909099">'+
                         'http://www.11st.co.kr/html/bestSellerMain3.html?prdNo=968909099</a> '+
                         '</p>'+
                         '</div>'+
                         '</div>';
                         return contentString;
                     }
                   </script>
                 
                   <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
                   </script>
                   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMq3ynwd0frB5IdCmgeLZ_baBumJBq65o"
                           async defer>
                   </script>
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->

                </p>
            </div>
        </div>
        


<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>