<!-- 위치 기반으로 검색 -->

<!DOCTYPE HTML>
<html lang="en">
<head>

<title>Search Exchange Shop </title>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">

<style>
    #map {
      width: 80%;
      height: 100%;
      background-color: grey;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 90%;
      margin: 0;
      padding: 0;
    }
    #transactionTable { 
      border-collapse:collapse;
      border: 1px solid black;
    }

    th,td{
      border: 1px solid black;
    }
 </style>
    <script type="text/javascript" src="scripts/jquery.js"></script>

</head>
    
<body>
 
  <div id="map" ></div>

  <div>
      <select name="cmb_country" size="1">
          <option value="KOREA" selected="selected" >KOREA</option>
          <option value="JAPAN">JAPAN</option>
          <option value="USA">USA</option>
          <option value="China">China</option>
       </select>
       <select name="cmb_city" size="1">
          <option value="Seoul" selected="selected" >Seoul</option>
          <option value="JAPAN">JAPAN</option>
          <option value="USA">USA</option>
          <option value="Chaina">Chaina</option>
       </select>
       <select name="cmb_sub_city" size="1">
          <option value="성동구" selected="selected">성동구</option>
          <option value="광진구">광진구</option>
          <option value="강남구">강남구</option>
          <option value="강동구">강동구</option>
       </select>
       <input type="button" name="findStore" value="찾기"/>
  </div>

  <p style="text-align: center">
        <h3> 적립 가능한 상점 리스트  </h3>
        <table id="transactionTable" style="margin-top:10px; margin-left:40px"></table>
  </p>
 
  <script>
    var localserivce=0;
    function makeMap(position,data){
      if(localserivce){ 
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: position.coords.latitude, lng: position.coords.longitude}
          });
      }
      else {
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: 37.494991, lng: 127.122390}
          }); 
          setMarkers(data, map);

      }
      
   }
  function ShowStoreList(data){
      var resultList = data;
      console.log(resultList);
      for (let i = 0; i < resultList.length; i++) {
          console.log("for loop ==" + i);
          const element = resultList[i];
          $("#transactionTable").append(
              '<tr>' +
              '<td>'+element.No+'</td>' +
              '<td>'+element.store_id+'</td>' +
              '<td>'+element.name+'</td>' +
              '<td>'+element.store_sort+'</td>' +
              '<td>'+element.telno+'</td>' +
              '<td>'+element.country+'</td>' +
              '<td>'+element.address+'</td>' +
              '<td>'+element.latitude+'</td>' +
              '<td>'+element.longtitude+'</td>' +
              '</tr>'
          )
      }
  }
  function initMap() {
    //---
    $.ajax({
            url:'http://192.168.20.141:3000/getStoreGpsData',  //url:'http://localhost:3000/getStoreGpsData'
            type : 'POST',
            data : {
          },
          success:function(data){
            var position=0;
              console.log("initMap success ===============");
              ShowStoreList(data);
              makeMap(position, data);  ///핀테크 지원센터 테스트용 강제지정
              
          }
      })
   }
    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

    function success(pos) {
      var crd = pos.coords;
      // console.log('Your current position is:');
      // console.log('Latitude : ' + crd.latitude);
      // console.log('Longitude: ' + crd.longitude);
      // console.log('More or less ' + crd.accuracy + ' meters.');
        makeMap(pos);
    };

    function error(err) {
      console.log('ERROR(' + err.code + '): ' + err.message);
    };
  
    function setMarkers(data, getMap) {
      var image = {
        url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
        size: new google.maps.Size(20, 32),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 32)
      };
      var shape = {
        coords: [1, 1, 1, 20, 18, 20, 18, 1],
        type: 'poly'
      };
      console.log("setMarkers start ------------");
      let resultList = data;
      for (let i = 0; i < resultList.length; i++) {
         console.log("lat" + parseFloat(resultList[i].latitude) + "lng"+  resultList[i].longtitude + " name " + resultList[i].name  );
         let makerData = resultList[i]; 
         var marker = new google.maps.Marker({
            position: {lat: Number(makerData.latitude), lng: Number(makerData.longtitude)},
            map: getMap,
            icon: image,
            shape: shape,
            title: makerData.name
          });
          
          google.maps.event.addListener(marker,'click',function(){
              var infowindow = new google.maps.InfoWindow({
                content: getOpenWindowData(resultList[i])
              });
              console.log(this.title);
              infowindow.open(map, marker)
          });
        }
        console.log("setMarkers end ------------"  );
      // var markerCluster = new MarkerClusterer(map, marker, 
      //   {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }


    function getOpenWindowData(storeObject){
        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">+' + storeObject.name +'</h1>'+
        '<div id="bodyContent">'+
        '<p><b>해외 동전 적립 서비스 가능</b><br>' +
        '주소 : '+ storeObject.address + '<br>' +
        '전화 번호:' + storeObject.telno + '<br>' +
        '영업시간: 08:00 ~ 20:00 <br></p>'+
        '<p>주요 상품 <br> ' +
        '화장품, 향수, 면도기,세안용품,치약 <br>'  +  '<a href="http://www.11st.co.kr/html/bestSellerMain3.html?prdNo=968909099">'+
        'http://www.11st.co.kr/html/bestSellerMain3.html?prdNo=968909099</a> '+
        '</p>'+
        '</div>'+
        '</div>';
        return contentString;
    }
  </script>

  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMq3ynwd0frB5IdCmgeLZ_baBumJBq65o&callback=initMap"
          async defer>
  </script>
</body>


</html>