<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>StickyMobile</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="styles/framework.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
        
<div id="page">
        
    <div id="page-preloader">
        <div class="loader-main"><div class="preload-spinner border-highlight"></div></div>
    </div>
    
	<div class="header header-fixed header-logo-left">
        <a href="index.html" class="header-title">Change-Up (Store)</a>
		<a href="page-contact.html" class="header-icon header-icon-1"><i class="fas fa-envelope"></i></a>
		<a href="#" data-toggle-theme-switch class="header-icon header-icon-2"><i class="fas fa-moon"></i></a>
	</div>
    

    <div class="page-content header-clear-medium">   
            
                
        <div class="content-boxed">
            <div class="content">

                <br>
            
                    <div class="content-boxed content-boxed-full">
                            
                            <div class="content bottom-10">
                                <br>
                                <h2 class="bolder">Scan QRcode</h2>
                                <p>
                                        You can scan.......
                                        <a href="#" class="color-red1-dark"> QR code</a>! <br>  
                                </p>
                                <a href="/qr" class="button bg-highlight button-m button-full button-round-medium shadow-large">GO!</a>
                            </div>
                        </div>
                        <br>
                        
                        <div class="content-boxed content-boxed-full">
                           <br>
                            <div class="content bottom-10">
                                <h2 class="bolder">Store Point</h2>
                                <p>
                                    You and your customer <br>can exchange <a href="#" class="color-red1-dark">change to point</a>
                                </p>
                                <a href="/storePoint" class="button bg-highlight button-m button-full button-round-medium shadow-large">G0!</a>
                            </div>
                        </div>


                <!-- <a href="/qr" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-30 bottom-0">QR</button>
                <a href="/storePoint" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-30 bottom-0">POINT</button> -->

            </div>
        </div>
        
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
