<!-- 상점에서 포인트 적립 -->
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>StickyMobile</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="styles/framework.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
        
<div id="page">
        
    <div id="page-preloader">
        <div class="loader-main"><div class="preload-spinner border-highlight"></div></div>
    </div>
    
   <div class="header header-fixed header-logo-left">
        <a href="index.html" class="header-title">Change-Up (Store)</a>
      <a href="page-contact.html" class="header-icon header-icon-1"><i class="fas fa-envelope"></i></a>
      <a href="#" data-toggle-theme-switch class="header-icon header-icon-2"><i class="fas fa-moon"></i></a>
   </div>
    
    <div id="footer-menu" class="footer-menu-2-icons footer-menu-style-1">
        <a href="/qr"><i class="fa fa-qrcode"></i><span>QR Code</span></a>
        <a href="/storepoint" class="active-nav"><i class="fa fa-store"></i><span>Store Point</span></a>
        <div class="clear"></div>
    </div>
    
    <div class="page-content header-clear-medium">   
                  
        <div class="content-boxed">
            <div class="content">

                    <h1 class="bolder">Store Point</h1>
                    <p>
                            <a href="#" class="color-red1-dark">Fill in the lower blank, please.</a>
                    </p>
                    <br>

                    <select id="myselect" name="myselect"> <!-- 화폐단위 -->
                        <option value="" selected="selected">Money Unit</option><option value="USD">미국 USD</option>
                        <option value="EUR">유럽연합 EUR</option><option value="JPY">일본 JPY</option><option value="CNY">중국 CNY</option>
                        <option value="HKD">홍콩 HKD</option><option value="TWD">대만 TWD</option><option value="GBP">영국 GBP</option>
                        <option value="OMR">오만 OMR</option><option value="CAD">캐나다 CAD</option><option value="CHF">스위스 CHF</option>
                        <option value="SEK">스웨덴 SEK</option><option value="AUD">호주 AUD</option><option value="NZD">뉴질랜드 NZD</option>
                        <option value="CZK">체코 CZK</option><option value="CLP">칠레 CLP</option><option value="TRY">터키 TRY</option>
                        <option value="MNT">몽골 MNT</option><option value="ILS">이스라엘 ILS</option><option value="DKK">덴마크 DKK</option>
                        <option value="NOK">노르웨이 NOK</option><option value="SAR">사우디아라비아 SAR</option><option value="KWD">쿠웨이트 KWD</option>
                        <option value="BHD">바레인 BHD</option><option value="AED">아랍에미리트 AED</option><option value="JOD">요르단 JOD</option>
                        <option value="EGP">이집트 EGP</option><option value="THB">태국 THB</option><option value="SGD">싱가포르 SGD</option>
                        <option value="MYR">말레이시아 MYR</option><option value="IDR">인도네시아 IDR</option><option value="QAR">카타르 QAR</option>
                        <option value="KZT">카자흐스탄 KZT</option><option value="BND">브루나이 BND</option><option value="INR">인도 INR</option>
                        <option value="PKR">파키스탄 PKR</option><option value="BDT">방글라데시 BDT</option><option value="PHP">필리핀 PHP</option>
                        <option value="MXN">멕시코 MXN</option><option value="BRL">브라질 BRL</option><option value="VND">베트남 VND</option>
                        <option value="ZAR">남아프리카 공화국 ZAR</option><option value="RUB">러시아 RUB</option><option value="HUF">헝가리 HUF</option>
                        <option value="PLN">폴란드 PLN</option>
                    </select>

                    <div class="form-field form-name">
                            <label class="contactNameField color-theme" for="contactNameField"><span></span></label>
                            <input type="text" name="contactNameField" value="" class="contactField round-small requiredField" id="change_amount" />
                            
                    </div><br>
                    <div class="form-field form-name">
                            <label class="contactEmailField color-theme" for="contactEmailField"><strong>Customer Id</strong> <span>(required)</span></label>
                            <input type="text" name="contactEmailField" value="" class="contactField round-small requiredField requiredEmailField" id="userId" />
                    </div>

                    <br>
                    <!-- <input id="email" type="name" placeholder=""> <br> 
                    <input id="store_id" type="text" placeholder=""> <br> 
                    <input id="sort" type="text" placeholder=""> <br>
                    <input id="change_amount" type="text" placeholder=""> <br>  -->
                    
                    <!--<select id="sort" name="sort"> 포인트 사용 OR 적립
                        <option value="save" selected="selected">적립</option><option value="use">사용</option>
                    -->
                    <button id="btn" href="#" class="button bg-highlight button-m button-full round-small bottom-0 shadow-huge contactSubmitButton">click</button>
                            
                    <script type="text/javascript" src="scripts/jquery.js"></script>

                    <script type="text/javascript" src="scripts/plugins.js"></script>
                    
                    <script type="text/javascript" src="scripts/custom.js"></script>
                    
                    <script>
                    
                        $("#btn").click(function(){
                    
                            $.ajax({
                                url : "http://localhost:3000/changeToMoney",
                                type : 'post',
                                data : {
                                    change_amount : $("#change_amount").val(),
                                    myselect : $("#myselect").val(),
                                    user_num : $("#userId").val(),
                                },
                    
                                success: function(data){
                                    console.log(data);
                                    // 로딩 완료창 또는 다른 페이지로 이동
                    
                                }
                             })
                        })

                        $("#authBtn").click(function(){
                    
                            var client_id = "l7xx9aeec8195c534ad9a0ebd55aa6bc9e81";
                    
                            var redirect_uri = "http://localhost:3000/authResult";
                    
                            var scope = "login inquiry transfer";
                    
                            var response_type = "JSON";
                    
                            var qs =
                    
                            "?response_type=code&"
                    
                            + "client_id="+client_id+"&"
                    
                            + "redirect_uri=http://localhost:3000/authResult&"
                    
                            + "scope="+scope+"&"
                    
                            + "auth_type=0&"
                    
                            + "invoke_type=ajax"
                    
                            $.ajax({
                    
                                url:'https://testapi.open-platform.or.kr/oauth/2.0/authorize2'+ qs,
                    
                                type : 'GET',
                    
                                success:function(data){
                    
                                    window.name ="parents";
                    
                                    console.log(data.location);
                    
                                    var tmpwindow = window.open("about:blank");
                    
                                    tmpwindow.location = data.location;//추가
                    
                                }
                    
                            })
                    
                        })
                    
                    </script>
            </div>
        </div>
        
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>